<p id="notice"><%= notice %></p>
<h2>
  <%= @cpanel_resume.name %>的简历
</h2>
<hr>
<h3>
  应聘职位:
  <%= @cpanel_resume.position.title %>
</h3>
<!-- <p>
  <strong>Title:</strong>
  <%#= @cpanel_resume.title %>
</p> -->
<h3>
  姓名：<%= @cpanel_resume.name%>
</h3>
<h3>
  简介：<%= @cpanel_resume.content %>
</h3>

<h3>
<%= link_to '返回', cpanel_resumes_path, class:"brivates-button" %>
  <%= link_to '下载附件', @cpanel_resume.avatar.url,class:"brivates-button" %>
</h3>