<div class="contact-form" style="max-width:420px">
<%= simple_form_for(@affiliate) do |f| %>
  <%= f.error_notification %>

    <h3>加盟申请</h3>
    <%= f.input :title, label: '标题' %>
    <label>留言:</label>
    <%= f.input_field :content, as: :text %>
    <%= f.button :submit, '提交' %>
<% end %>
</div>