<div class="contact-form" style="max-width:420px">
<%= simple_form_for(@affiliate) do |f| %>
  <%= f.error_notification %>

    <h3>加盟申请内容</h3>
    <%= f.input :title %>
    <%= f.input :content %>
    <%= f.button :submit %>
<% end %>
</div>