<h2>
  欢迎来到波蒂斯网站控制台
</h2>
<div>
  <ul>
    <li>
      <%= link_to '编辑网站配置', cpanel_site_configs_path %>
    </li>
    <li>
      <%= link_to '编辑美丽资讯', cpanel_site_configs_path %>
    </li>
    <li>
      <%= link_to '编辑新闻', news_index_path %>
    </li>
    <li>
      <%= link_to '编辑在线招聘', cpanel_positions_path %>
    </li>
    <li>
      <%= link_to '编辑图片轮播', cpanel_slides_path %>
    </li>
  </ul>
</div>