<h1>
  欢迎来到波蒂斯网站控制台
</h1>
<hr>

<div class="dashboard">
  <div class="dashboard-item">
    <div class="item-content">
      <%= link_to '设置网站基本信息', cpanel_site_configs_path %>
    </div>
  </div>
  <div class="dashboard-item">
    <div class="item-content">
      <%= link_to '设置图片轮播', cpanel_slides_path %>
    </div>
  </div>
  <div class="dashboard-item">
    <div class="item-content">
      <%= link_to '编辑企业新闻', cpanel_news_index_path %>
    </div>
  </div>
  <div class="dashboard-item">
    <div class="item-content">
      <%= link_to '产品管理', cpanel_products_path %>
    </div>
  </div>
  <div class="dashboard-item">
    <div class="item-content">
      <%= link_to '设置在线招聘', cpanel_positions_path %>
    </div>
  </div>

</div>

<!-- div>
  <ul>
    <li>
      <%= link_to '编辑网站配置', cpanel_site_configs_path %>
    </li>
    <li>
      <%= link_to '编辑美丽资讯', cpanel_site_configs_path %>
    </li>
    <li>
      <%= link_to '编辑新闻', cpanel_news_index_path %>
    </li>
    <li>
      <%= link_to '编辑在线招聘', cpanel_positions_path %>
    </li>
    <li>
      <%= link_to '编辑图片轮播', cpanel_slides_path %>
    </li>
    <li>
      <%= link_to '用户管理', '/' %>
    </li>
  </ul>
</div> -->