<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :content %>
    <%= f.input :avatar %>
    <%= f.input_field :type_id, as: :radio_buttons, collection: [ ['新品速递', 0], ['特色产品', 1], ['明星产品', 2] ], prompt: "请选择.." %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>

<% end %>
