<%= simple_form_for([:position, @resume]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div>
      <label>名字:</label>
      <%= f.input_field :name %>
    </div>

    <div>
      <label>电话:</label>
      <%= f.input_field :phone %>
    </div>
    <div>
      <label>邮箱:</label>
      <%= f.input_field :email %>
    </div>
    <div>
      <label>个人描述（300字以内）:</label>
      <%= f.input_field :content, as: :text %>
    </div>
    <div>
      <label>上传简历:</label>
      <%= f.input_field :avatar %>
    </div>
  </div>

  <div class="form-actions">
    
    <div class="btn btn-default">
      <a href="#" onclick="window.history.go(-1);return false;" style="font-size:13px">返回上页</a>
      <div class="btn btn-default">
      <%= f.button :submit, '提交申请' %>
    </div>
    </div>
  </div>
<% end %>
