<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @resume.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @resume.content %>
</p>

<p>
  <strong>File:</strong>
  <%= link_to 'Download', @resume.avatar.url %>
</p>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>
