<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @cpanel_position.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @cpanel_position.content %>
</p>

<p>
  <strong>Status:</strong>
  <%= @cpanel_position.status %>
</p>

<%= link_to 'Edit', edit_cpanel_position_path(@cpanel_position) %> |
<%= link_to 'Back', cpanel_positions_path %>
