<div class="content txt_h">
  <h2>财富连线</h2>
  <hr>
  <h2 style="text-align:center">感谢您给我们留言！</h2>
  <br>
  <p style="font-size:125%;text-align:center">您的留言已经收到，我们会尽快与您联络。<br>
  谢谢您！</p>

  <div class="btn">
    <a href="#" onclick="window.history.go(-1);return false;">返回</a>
  </div>
</div>

<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @enquiry.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @enquiry.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @enquiry.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @enquiry.message %>
</p>

<%#= link_to 'Edit', edit_enquiry_path(@enquiry) %> |
<%#= link_to 'Back', enquiries_path %>
 -->