<div class="cpanel-menu">
  <ul>
    <li class="current">
      <%= link_to '网站基本信息设置', cpanel_site_configs_path %>
    </li>
    <li>
      <%= link_to '编辑新闻', cpanel_news_index_path %>
    </li>
    <li>
      <%= link_to '编辑产品', cpanel_products_path %>
    </li>
    <li>
      <%= link_to '编辑在线招聘', cpanel_positions_path %>
    </li>
    <li>
      <%= link_to '编辑图片轮播', cpanel_slides_path %>
    </li>
  </ul>
</div>