<div class="cpanel-menu">
  <ul>
    <!--li class="current">
      <%= link_to '网站基本信息设置', cpanel_site_configs_path %>
    </li-->
    <li>
      <%= link_to '控制台首页', cpanel_front_index_path %>
    </li>
    <li>
      <%= link_to '设置首页图片轮播', cpanel_slides_path %>
    </li>
    <li>
      <%= link_to '企业新闻设置', cpanel_news_index_path %>
    </li>
    <li>
      <%= link_to '产品管理', cpanel_products_path %>
    </li>
    <li>
      <%= link_to '在线招聘设置', cpanel_positions_path %>
    </li>

  </ul>
</div>