<div class="cpanel-menu">
  <ul>
    <!--li class="current">
      <%= link_to '网站基本信息设置', cpanel_site_configs_path %>
    </li-->
    <li>
      <%= link_to '控制台首页', cpanel_front_index_path %>
    </li>
    <li>
      <%= link_to '设置网站基本信息', cpanel_site_configs_path %>
    </li>
    <li>
      <%= link_to '设置图片轮播', cpanel_slides_path %>
    </li>

    <li>
      <%= link_to '产品管理', cpanel_products_path %>
    </li>
    <li>
      <%= link_to '设置在线招聘', cpanel_positions_path %>
    </li>
    <li>
      <%= link_to '编辑企业新闻', cpanel_news_index_path %>
    </li>

  </ul>
</div>