<div class="navbar">
  <ul>
    <li><a href="/">Home</a></li>
    <li>
      <a href="#">美丽资讯</a>
      <ul>
        <li>
          <a href="<%= front_about_path %>">企业形象</a>
          <a href="<%= news_index_path %>">企业新闻</a>
          <a href="<%= front_joinus_path %>">企业招聘</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">产品体系</a>
      <ul>
        <li>
          <a href="<%= front_about_path %>">产品速递</a>
          <a href="<%= news_index_path %>">特色项目</a>
          <a href="<%= front_joinus_path %>">明星产品</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">招商加盟</a>
      <ul>
        <li>
          <a href="<%= front_about_path %>">加盟优势</a>
          <a href="<%= news_index_path %>">加盟政策</a>
          <a href="<%= front_joinus_path %>">加盟申请</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="#">财富连线</a>
    </li>
  </ul>
</div>