<%= simple_form_for([:cpanel, @news]) do |f| %>
  <%= f.error_notification %>


    <%= f.input :title, label:"新闻标题"%><br>
    <%= f.input :content,as: :text, label:"新闻内容" %><br>


  <div class="form-actions">
    <%= f.button :submit, class: "submitbtn", value: "确定",class:"brivates-button"%>
    <%= link_to '取消', cpanel_news_index_path,class:"brivates-button"  %>
  </div>
<% end %>
<script>
CKEDITOR.replace('news_content');
</script>