<!DOCTYPE html>
<html>
  <head>
  <title>Brivates</title>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
    <%= render_stylesheets %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="/js/jquery-1.11.1.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body class="<%= controller_name %>" data-controller-name="<%= controller_name %>">
    <div class="wrap">
      <% if @home_index_bar %>
      <%= render partial: 'common/theme/navbar_home' %>
      <% else %>
      <%= render partial: 'common/theme/navbar_content' %>
      <% end %>
      <%= yield %>

      <div class="footer">
        <div>
          <div style="width:auto;float:left">版权所有&copy; 波蒂斯抗衰中心 ICP备案号:</div>
          <div style="width:auto;float:right"><%= social_share_button_tag('波蒂斯抗衰中心') %></div>
        </div>
      </div>
    </div>
  </body>
</html>
